<div class="container">
  <div class="row">
    <div class="col-sx-12">
      <img class="img-responsive" src="" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12">
      <h1>Nome ricetta</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12">
      <div class="btn-group">
        <button class="btn btn-primary">
          Gestisci ricetta <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Aggiungi ingrediente alla lista della spesa</a></li>
          <li><a href="#">Modifica ricetta</a></li>
          <li><a href="#">Elimina ricetta</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12">Descrizione</div>
  </div>
  <div class="row">
    <div class="col-sx-12">Ingredienti</div>
  </div>
</div>
